
body{
    background-color: #FFFF;
}
h1{
    color:black;
    font-size: 50px;
    text-align: center;
    font-family: 'Segoe UI';
    font-weight: 600;
}
.data-box{
    margin-top: 25px;
}
.datos{
    
    width: 30px !important;
    height: 30px;
}

#pokeimg{
    width: 200px;
    margin: 35px 0px 0px 20px;
    
}    

ion-card{
    width: 500px;
    height: 300px;
    background-color: #FFFF;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

ion-card-header{
    margin-top: 35px;
}
ion-card-title{
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    color: #000;
}

ion-card-subtitle{
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    color: #000;
}

#info{
    background-color: #FFFF;
    height: 300px;
}

#photo{
    background-color: #FFD600;
    height: 300px;
}

#type{
    color: #FFFF;
    border-radius: 5px;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
}

span{
    margin-left: 10px;
    
    font-size: 14px;
    font-weight: 600;
    font-family: 'Segoe UI';
    color:#000;
}
